//饿了么基础颜色
//蓝色
$blue: #409EFF;
//绿色
$green: #67C23A;
//黄色
$yellow: #E6A23C;
//红色
$red: #F56C6C;
//灰色
$grey: #909399;
//紫色
$purple: #cd00c8;
//白色
$white: #ffffff;
//黑色
$black: #000000;

//左侧菜单栏
$menuTitleColor: #110808; //菜单头部标题颜色
$menuTitleBg: #2b2f3a; //菜单头部背景色
$menuBg: #040f42; //菜单背景色
$menuText: #767f99;//菜单字体颜色
$menuActiveText: #409EFF;//菜单选中字体颜色
$meauActiveBg: #1880ff;//菜单选中背景颜色

// 字体默认颜色
$fontColor: rgba(4, 15, 66, 0.9);

// 最小字体
$most-font-size: 12px;

// 中等字体
$middle-font-size: 14px;

// 中上字体
$middle-more-font-size: 18px;

// 大字体
$big-font-size: 20px;

// 主蓝色
$mainBlue: #0684EA;

// 消息背景颜色
$msgBgColor:#bae2ff;

// 主色
$mainColor: #79C9C0;
