/*全局css */
.g-main-color {
  color: var(--g-main_color)!important;
}

//在iOS中出现滚动卡顿问题(橡皮筋效果)
.g-ios-scrolling {
  -webkit-overflow-scrolling: touch; 
}

/************图片样式类库************/
.g-img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

//图片自动拉伸铺满 图片会变形
.g-img-fill {
  @extend .g-img;
  object-fit: fill;
}

//保持比例缩放保证图片显示全，会出现黑边，常用
.g-img-contain {
  @extend .g-img;
  object-fit: contain;
}

//保持比例缩放的同时居中填充满元素框，超出部分会被裁剪掉
.g-img-cover {
  @extend .g-img;
  object-fit: cover;
}
// 弹性布局
.g-flex {
  display: flex;
}

//flex-1   子元素占据剩余的空间
.g-flex-1{
  flex: 1;
}
// 主轴为垂直方向
.g-flex-column {
  @extend .g-flex;
  flex-direction: column;
}

.g-flex-column-reserve {
  @extend .g-flex;
  flex-direction: column-reverse;
}

//子元素两端对齐
.g-flex-space-between {
  @extend .g-flex;
  justify-content: space-between;
}

.g-flex-justify-start {
  @extend .g-flex;
  justify-content: flex-start;
}

.g-flex-justify-center {
  @extend .g-flex;
  justify-content: center;
}

.g-flex-justify-end {
  @extend .g-flex;
  justify-content: flex-end;
}

.g-flex-justify-between {
  @extend .g-flex;
  justify-content: space-between;
}

.g-flex-justify-around {
  @extend .g-flex;
  justify-content: space-around;
}

.g-flex-align-start {
  @extend .g-flex;
  align-items: flex-start;
}

.g-flex-align-center {
  @extend .g-flex;
  align-items: center;
}

.g-flex-align-end {
  @extend .g-flex;
  align-items: flex-end;
}

.g-flex-align-between {
  @extend .g-flex;
  align-items: space-between;
}

.g-flex-align-around {
  @extend .g-flex;
  align-items: space-around;
}

.g-flex-align-self-center {
  @extend .g-flex;
  align-self: center;
}

.g-flex-align-self-start {
  @extend .g-flex;
  align-self: flex-start;
}

.g-flex-wrap {
  @extend .g-flex;
  flex-wrap: wrap;
}

/************flex布局类库************/
//小手图标
.g-pointer{
  cursor: pointer;
}

/************基础色************/
//蓝色
.g-blue {
  color: var(--g-blue)!important;
}
//绿色
.g-green {
  color: var(--g-green)!important;
}
//黄色
.g-yellow {
  color: var(--g-yellow)!important;
}
//红色
.g-red {
  color: var(--g-red)!important;
}
//灰色
.g-grey {
  color: var(--g-grey)!important;
}
//紫色
.g-purple {
  color: var(--g-purple)!important;
}
//白色
.g-white {
  color: var(--g-white)!important;
}
//黑色
.g-black {
  color: var(--g-black)!important;
}

.g-in {
  color: #00AA7B!important;
}

.g-out {
  color: #E7595A!important;
}

.g-up {
  color: var(--g-up_color)!important;
}

.g-0 {
  color: #8798a5;
}

.g-down {
  color: var(--g-down_color)!important;
}

.g-bg-up {
  // background-color: var(--g-up_color)!important;
  color: var(--g-up_color)!important;
}

.g-bg-down {
  // background-color: var(--g-down_color)!important;
  color: var(--g-down_color)!important;
}

.g-bg-zero {
  background-color: #8798a5;
}

/*修改滚动条样式*/
/*
::-webkit-scrollbar 滚动条整体部分
::-webkit-scrollbar-thumb  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track  滚动条的轨道（里面装有Thumb）
::-webkit-scrollbar-button 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner 边角，即两个滚动条的交汇处
::-webkit-resizer 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*/
.g-self-scrollbar {
  &::-webkit-scrollbar{
    width:6px;
    height: 50px;
  }
  &::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:10px;
  }
  &::-webkit-scrollbar-track{
    background: none;
    border-radius:2px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: #333;
  }
}


.g-self-no-scrollbar {
  &::-webkit-scrollbar{
    width:6px;
    height: 50px;
    display: none;
  }
  &::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:10px;
    display: none;
  }
  &::-webkit-scrollbar-track{
    background: none;
    border-radius:2px;
    display: none;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: #333;
    display: none;
  }
}
// 三角形
.g-send-arrow {
  position: absolute;
  top: 15px;
  right: -6px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #007aff;
}

// 三角形
.g-arrow {
  position: absolute;
  top: 15px;
  left: -6px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 6px solid #f0f0f0;
}


@keyframes changeDotColor1 {
  0% {
    background: #FDC6D2;
  }
  25% {
      background: #FA859F;
  }
  50% {
      background: #F9436b;
  }
  75% {
      background: #FA859F;
  }
  100% {
      background: #FDC6D2;
  }
}

@keyframes changeDotColor2 {
  0% {
    background:#FA859F;
  }
  25% {
    background: #F9436b;
  }
  50% {
    background:#FDC6D2;
  }
  75% {
    background: #F9436b;
  }
  100% {
    background: #FA859F;
  }
}

@keyframes changeDotColor3 { 
  0% {
    background: #F9436b;
  }
  25% {
    background:#FDC6D2;
  }
  50% {
    background: #FA859F;
  }
  75% {
    background:#FDC6D2;
  }
  100% {
    background:#F9436b;
  }
}


.g-lineheight {
  line-height: 22px!important;
}

.g-lineheight30 {
  line-height: 30px!important;
}

.g-lineheight40 {
  line-height: 40px!important;
}

.g-fsize12 {
  @extend .g-lineheight;
  font-size: 12px!important;
}

.g-fsize13 {
  @extend .g-lineheight;
  font-size: 13px!important;
}

.g-fsize14 {
  @extend .g-lineheight;
  font-size: 14px!important;
}

.g-fsize15 {
  @extend .g-lineheight;
  font-size: 15px!important;
}

.g-fsize16 {
  @extend .g-lineheight;
  font-size: 16px!important;
}

.g-fsize17 {
  @extend .g-lineheight;
  font-size: 17px!important;
}

.g-fsize18 {
  @extend .g-lineheight;
  font-size: 18px!important;
}

.g-fsize20 {
  @extend .g-lineheight;
  font-size: 20px!important;
}


.g-fsize22 {
  @extend .g-lineheight;
  font-size: 22px!important;
}

.g-fsize30 {
  @extend .g-lineheight;
  font-size: 30px!important;
}

.g-fsize32 {
  @extend .g-lineheight;
  font-size: 32px!important;
}


.g-fsize40 {
  @extend .g-lineheight;
  font-size: 40px!important;
}

.g-padright5 {
  padding-right: 5px!important;
}

.g-padright10 {
  padding-right: 10px!important;
}

.g-padright15 {
  padding-right: 15px!important;
}

.g-padleft0 {
  padding-left: 0px!important;
}

.g-padleft5 {
  padding-left: 5px!important;
}

.g-padleft10 {
  padding-left: 10px!important;
}

.g-padleft15 {
  padding-left: 15px!important;
}

.g-padleft130 {
  padding-left: 130px!important;
}

.g-padtop10 {
  padding-top: 10px!important;
}

.g-padtop20 {
  padding-top: 20px!important;
}

.g-padtop30 {
  padding-top: 30px!important;
}

.g-martop30 {
  padding-top: 30px!important;
}


.g-font-red {
  color: var(--g-main_color)!important;
}

.g-font-bold {
  font-weight: bold!important;
}

.g-bg-font-color-up {
  background-color: #272a32!important;
  color: var(--g-up_color)!important;
}

.g-bg-font-color-zero {
  background-color: #243339!important;
  color: var(--g-white)!important;
}


.g-bg-font-color-down {
  background-color: #203036!important;;
  color: var(--g-down_color)!important;
}


.van-dialog__message {
  color: var(--g-black);
}
.n-bg {
  // background: url(../img/bg1.png) !important;
  // background-size: 100% 100% !important;
  // position: relative;
  background: #202021;
  .ch-bg {
      position: absolute;
      top: 20px;
      z-index: 0;
      width: 100%;
  }
}
.new-head {
  display: flex;
  justify-content: space-between;
  padding: 11px 30px;
  position: relative;
  z-index: 1;
  .new-head-back {
      img {
          width: 50px;
          height: 50px;
          border-radius: 6px;
      }

      .v-login-head-language {
        img {
          width: 50px;
          height: 50px;
          border-radius: 6px;
      }
      }
  }
  .new-head-r {
      width: 50px;
      height: 50px;
      border-radius: 18px;
      border: 1px solid rgba(36, 15, 81, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      .iconfont {
          color: #fff;
          font-size: 20px;
      }
  }
  
}
.new-head_title_text{
  font-family: Open Sans, Open Sans;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  line-height: 28px;
  text-align: left;
  font-style: normal;
  margin: 20px 20px 0;
  i {
    margin-left: 20px;
  }

}
.v-form {

  .n-form-box {
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    padding: 8px 0 4px;
    margin-bottom: 10px;
    .n-form-title{
      color: #fff;
      margin-left: 15px;
    }
  }

}


.n-form {
  .v-form-item {
      height: 30px !important;
      border-radius: 18px !important;
      // border: 1px solid rgba(36, 15, 81, 0.1) !important;
      position: relative;
      padding-top: 15px;
      background: #202021 !important;
  }
  input {
      color: rgb(36, 15, 81) !important;
      font-weight: bold !important;
  }
  .v-form-item-left-text {
      color: rgba(36, 15, 81, 1) !important;
  }
  .icon-right-1-copy {
      transform: rotate(90deg);
      color: rgba(36, 15, 81, 1) !important;
      font-size: 12px !important;
      margin-left: 4px;
  }
  input::placeholder {
      color: rgba(36, 15, 81, 0.2) !important;
      font-size: 14px;
      font-weight: 400;
  }
  .n-form-title {
      position: absolute;
      top: 15px;
      left: 15px;
      color: #fff;
      font-weight: bold;
      background: #202021;
  }
  .v-form-item-left {
      padding-left: 4px !important;
  }
}
.n-nav-list {
  margin: 10px 20px;
  height: 46px;
  background: #2f224a;
  border-radius: 10px;
  border: 2px solid #2f224a;
  display: flex;
  // opacity: 0.2;
  .v-nav-item {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: 10px;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
  }
  .v-nav-item.active{
      background-color: #fff;
      color: #5314D6;
  }
}
.n-btn-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .n-btn-list-l {
      width: 82px;
      height: 32px;
      background: #e7d8eb;
      border-radius: 36px;
      color: #6e6086;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .v-form-btn-box {
      width: 170px !important;
      height: 60px !important;
      background: #6f42c8 !important;
      border-radius: 60px;
      overflow: hidden;
      margin-top: 0 !important;
      .v-form-btn {
          height: 100% !important;
      }
      img {
          width: 100%;
          height: 60px;
      }
  }
}
.n-s-title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  float: left;
  color: #240F51;
  margin-bottom: 8px
}
.n-r {
  display: inline-block;
  width: 100%;
  margin-top: 0 !important;
  .v-nav-item {
      font-size: 12px !important;
      color: rgba(80,66,108,0.8) !important;
  }
}
.p-t-b-30 {
  padding: 0 30px;
}

