:root {
  /* --van-notice-bar-text-color: var(--g-white);
  --van-picker-background-color: #161F26;
  --van-background-color-light: #161F26;
  --van-picker-mask-color: transparent;
  --van-number-keyboard-background-color: #353535;
  --van-notice-bar-background-color: transparent;
  --van-tab-font-size: 12px; */
}