
@font-face {
  font-family: "Poppins-Bold";
  src: url('./Poppins-Bold.ttf');
}

@font-face {
  font-family: "Poppins-Medium";
  src: url('./Poppins-Medium.ttf');
}

@font-face {
  font-family: "Poppins-Regula";
  src: url('./Poppins-Regula.ttf');
}